::selection {
  color: white;
  background: black
}
::-moz-selection {
  color: white;
  background: black
}
body {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: "calluna-sans", "Lucida Sans", sans-serif;  font-size: 20px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased
}
.cf:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
  visibility: hidden
}
a {
  border-bottom: solid 1px #444;
  color: #444;
  text-decoration: none;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s
}
a:hover {
  border-bottom-color: #e60900;
  color: #c9261e
}
.nostyle-link {
  color: #222;
  border-bottom: none
}
.container {
  margin: 0 auto;
  max-width: 660px
}
header .fixed {
  position: fixed;
  left: 50%;
  margin-left: -380px
}
header .logo-wrapper {
  top: 0;
  width: 36px;
  height: 48px;
  background: #ea7362
}
header .logo-wrapper .logo {
  display: block;
  width: 100%;
  height: 100%;
  background: url(/template/assets/image/logo.png) no-repeat center
}
header .toc-wrapper {
  top: 60px
}
header .toc-wrapper .toc-trigger {
  display: block;
  width: 36px;
  height: 36px
}
header .toc-wrapper .toc-trigger span {
  display: block;
  border-bottom: solid 1px #ea7362;
  margin-top: 3px;
  margin: 0px 4px 9px
}
header .site-title {
  margin: 0;
  height: 150px;
  font-size: 1.2em;
  font-weight: normal;
  font-family: "STSong", "SimSun", "Times New Roman", Times, serif;
  line-height: 2
}
header .site-title a {
  color: #222;
  text-decoration: none
}
.toc {
  position: fixed;
  border-top: solid 1px;
  height: 65%;
  width: 50%;
  overflow: scroll;
  z-index: 100
}
.toc ul {
  padding-left: 36px;
  list-style: none
}
.toc .toc-2 {
  margin-top: 1em
}
.toc .toc-3 {
  margin-left: 2em;
  font-size: 0.9em
}
.toc .toc-4 {
  margin-left: 4em;
  font-size: 0.8em
}
.pager .next {
  float: right
}
.post-list .post {
  margin-bottom: 160px
}
.post-list .title {
  padding: 0 18%;
  font-size: 1.2em;
  font-weight: normal;
  text-align: center
}
.post-list .title .cate {
  color: #db2020;
  font-size: 0.9em
}
.post-list .date {
  color: #666;
  font-size: 0.9em;
  text-align: center
}
.post.pg-post .title {
  margin-top: 150px;
  font-size: 2.4em
}
.post img {
  max-width: 100%;
  margin: 10px auto;
  display: block
}
.post.blur * {
  border-color: transparent;
  color: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: all linear 0.1s
}
.post.blur * hr {
  opacity: 0
}
.post.blur * img {
  -webkit-filter: blur(10px)
}
footer {
  margin-top: 100px
}
footer nav {
  height: 150px
}
footer .nav-link {
  float: right;
  margin-left: 0.5em;
  width: 1em;
  color: #222;
  font-size: 0.9em;
  text-decoration: none;
  line-height: 1.1
}
footer .footnote {
  font-size: 0.7em
}
.archive-list {
  padding: 0;
  list-style: none
}
.archive-list .year {
  margin-left: 120px;
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #222
}
.archive-list .post-set {
  overflow: hidden;
  margin-bottom: 20px
}
.archive-list .post-set .date {
  color: #666;
  display: block;
  float: left;
  width: 100px
}
.archive-list .post-set .post-link {
  font-family: "calluna-sans", "Lucida Sans", sans-serif;
  margin-left: 120px;
  overflow: hidden
}
.archive-list .refer-link {
  font-size: 0.9em;
  color: #888
}
.archive-list .refer-link span {
  font-size: 0.7em
}
.archive-list a:hover {
  color: #C9261E;
  border-bottom-color: #E60900
}
.source .cate{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "calluna-sans", "Lucida Sans", sans-serif
}
h2 {
  font-size: 1.8em
}
h3 {
  color: #ac1919;
  font-size: 1.5em
}
h4 {
  color: #c78585;
  font-size: 1.2em
}
h2, h3, h4, h5, h6 {
  margin: 1.2em 0 0.2em
}
h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 0
}
p {
  margin: 2em 0;
  color: #444;
  font-size: 1em
}
ol p, ul p {
  margin: 1em 0
}
code {
  margin: 0 2px;
  border-top: solid 1px #e0e0e0;
  padding: 0px 5px;
  color: #666;
  font-size: 0.8em;
  font-family: Monaco, Andale Mono, Courier New, monospace;
  border-radius: 3px
}
pre {
  display: block;
  margin: 1em 0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 20px;
  font-size: 13px;
  line-height: 2.2;
  overflow: auto;
  max-width: 800px
}
pre code {
  margin: auto;
  border: none;
  padding: none;
  font-size: 1em
}
strong, em, b {
  font-family: "source-serif-pro", "Kaiti SC", "KaiTi", serif
}
@media screen and (max-width:760px) {
  header .fixed {
    right: 20px;
    left: auto
  }
  .toc {
    right: 0
  }
}
@media screen and (max-width:660px) {
  body {
    font-size: 16px
  }
  .container {
    width: 90%
  }
}
@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-device-pixel-ratio:2) {
  header .logo-wrapper .logo {
    background-image: url(/template/assets/image/logo@2x.png);
    background-size: 20px 19px
  }
}
.hll {
  background-color: #ffffcc
}
.c {
  color: #60a0b0;
  font-style: italic
}
.k {
  color: #007020;
  font-weight: bold
}
.o {
  color: #666666
}
.cm {
  color: #60a0b0;
  font-style: italic
}
.cp {
  color: #007020
}
.c1 {
  color: #60a0b0;
  font-style: italic
}
.cs {
  color: #60a0b0;
  background-color: #fff0f0
}
.gd {
  color: #A00000
}
.ge {
  font-style: italic
}
.gr {
  color: #FF0000
}
.gh {
  color: #000080;
  font-weight: bold
}
.gi {
  color: #00A000
}
.go {
  color: #808080
}
.gp {
  color: #c65d09;
  font-weight: bold
}
.gs {
  font-weight: bold
}
.gu {
  color: #800080;
  font-weight: bold
}
.gt {
  color: #0040D0
}
.kc {
  color: #007020;
  font-weight: bold
}
.kd {
  color: #007020;
  font-weight: bold
}
.kn {
  color: #007020;
  font-weight: bold
}
.kp {
  color: #007020
}
.kr {
  color: #007020;
  font-weight: bold
}
.kt {
  color: #902000
}
.m {
  color: #40a070
}
.s {
  color: #4070a0
}
.na {
  color: #4070a0
}
.nb {
  color: #007020
}
.nc {
  color: #0e84b5;
  font-weight: bold
}
.no {
  color: #60add5
}
.nd {
  color: #555555;
  font-weight: bold
}
.ni {
  color: #d55537;
  font-weight: bold
}
.ne {
  color: #007020
}
.nf {
  color: #06287e
}
.nl {
  color: #002070;
  font-weight: bold
}
.nn {
  color: #0e84b5;
  font-weight: bold
}
.nt {
  color: #062873;
  font-weight: bold
}
.nv {
  color: #bb60d5
}
.ow {
  color: #007020;
  font-weight: bold
}
.w {
  color: #bbbbbb
}
.mf {
  color: #40a070
}
.mh {
  color: #40a070
}
.mi {
  color: #40a070
}
.mo {
  color: #40a070
}
.sb {
  color: #4070a0
}
.sc {
  color: #4070a0
}
.sd {
  color: #4070a0;
  font-style: italic
}
.s2 {
  color: #4070a0
}
.se {
  color: #4070a0;
  font-weight: bold
}
.sh {
  color: #4070a0
}
.si {
  color: #70a0d0;
  font-style: italic
}
.sx {
  color: #c65d09
}
.sr {
  color: #235388
}
.s1 {
  color: #4070a0
}
.ss {
  color: #517918
}
.bp {
  color: #007020
}
.vc {
  color: #bb60d5
}
.vg {
  color: #bb60d5
}
.vi {
  color: #bb60d5
}
.il {
  color: #40a070
}